@font-face {
    font-family: openSans;
    src: url(fonts/OpenSans-Regular.ttf);
  }
@font-face {
    font-family: openSans-semibold;
    src: url(fonts/OpenSans-SemiBold.ttf);
    }
@font-face {
    font-family: openSans-bold;
    src: url(fonts/OpenSans-Bold.ttf);
  }
@font-face {
    font-family: Londrina-Light;
    src: url(fonts/LondrinaSolid-Light.ttf);
    }
body {
    background-color: rgba(196, 211, 212, 0.938);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: openSans;
}
#content-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header {
    width: 700px;
    background-color: rgb(36, 36, 116);
    border-radius: 8px 8px 0 0;
    position: relative;
}
.footer .foot-note {
    text-align: center;
}
#print-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color:  rgb(84, 84, 163);
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    cursor: pointer;
    color: white;
    font-family: openSans-semibold;
    transition: 0.3s;
    opacity: 0.7;
    outline:none;
}
#print-btn:hover {
    opacity: 1;
}
.footer {
    width: 700px;
    background-color: rgb(36, 36, 116);
    border-radius: 0px 0px 8px 8px;
    font-family: openSans-semibold;
    color: white;
    text-align: center;
}
.footer a {
    text-decoration: none;
    color: rgb(128, 123, 104);
}
#title {
    font-family: Londrina-Light;
    color: white;
}
div#thread {
    background-color:white;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border-radius: 4px;
    text-align: center;
    width: 700px;
}
div#user {
    background-color:white;
    padding: 2px;
    display: inline-flex;
    justify-content: center;
    min-width: 300px;
}
div#user-img img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;
}
div#user-details{
    height: 80px;
    text-align: left;
}
div#user-details div{
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}
div#user-details div p{
    margin: 0;
}
#user-name{
    font-size: large;
    font-weight: bold;
    color: rgb(20, 19, 19);
    font-family: openSans-bold;
}
#user-username{
    font-size: small;
    color: rgb(145, 145, 145);
    font-family: openSans;
}
h1#title {
    text-align: center;
}
#thread-holder {
    background-color:white;
    text-align: center;
    display: inline-flex;
    flex-direction:column;
    align-content: center;
    flex-wrap: wrap;
    min-width: auto;
}
.tweet {
    border-bottom: 1px solid rgb(207, 207, 207);
    max-width: 500px;
    text-align: left;
    padding: 10px;
}
.tweet-time {
    color: gray;
    font-family: openSans-semibold;
    font-size: small;
}
.tweet-text {
    color: rgb(14, 12, 12);
    font-weight: 500;
}
.tweet-img-container {
    width: 100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tweet-img-container-pair {
    padding: 3px;
    max-height: 200px;
    display:flex;
    justify-content: space-evenly;
}
.tweet-img-container img{
    padding: 2px;
    min-width: 50%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 8px;
}