@font-face {
    font-family: openSans;
    src: url(../fonts/OpenSans-Regular.ttf);
  }
@font-face {
    font-family: openSans-semibold;
    src: url(../fonts/OpenSans-SemiBold.ttf);
    }
@font-face {
    font-family: openSans-bold;
    src: url(../fonts/OpenSans-Bold.ttf);
  }
@font-face {
    font-family: Londrina-Light;
    src: url(../fonts/LondrinaSolid-Light.ttf);
    }
/* width */
::-webkit-scrollbar {
    width: 4px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: rgb(47, 91, 158); 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background:  rgb(16, 61, 129); 
    }
body {
    margin: 0;
    background-color: rgba(196, 211, 212, 0.938);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: openSans;
}
#content-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header {
    background-color: rgb(36, 36, 116);
    border-radius: 8px 8px 0 0;
    width: 700px;
}
#thread-body {
    background-color: white;
    text-align: center;
    min-height: 600px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer .foot-note {
    text-align: center;
}
.header #btn-container{
    display: flex;
    padding: 3px;
    justify-content:flex-end;
}
#print-btn {
    background-color:  rgb(84, 84, 163);
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
    color: white;
    font-family: openSans-semibold;
    transition: 0.3s;
    opacity: 0.7;
    outline:none;
}
#print-btn:hover {
    opacity: 1;
}
.footer {
    width: 700px;
    background-color: rgb(36, 36, 116);
    border-radius: 0px 0px 8px 8px;
    font-family: openSans-semibold;
    color: white;
    text-align: center;
}
.footer a {
    text-decoration: none;
    color: rgb(128, 123, 104);
}
#title {
    margin: 10px;
    margin-left: 30px;
    font-family: Londrina-Light;
    color: white;
    text-decoration: none;
    font-size: 35px;
    font-weight: bolder;
}
.title-holder{
    display: flex;
    justify-content: center;
    text-align: center;
}
div#thread {
    background-color:white;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border-radius: 4px;
    text-align: center;
    width: 700px;
}
div#user {
    background-color:white;
    padding: 2px;
    display: inline-flex;
    justify-content: center;
    width: 90%;
}
div#user-img img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;
}
div#user-details{
    height: 80px;
    text-align: left;
}
div#user-details div{
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}
div#user-details div p{
    margin: 0;
}
#user-name{
    font-size: large;
    font-weight: bold;
    color: rgb(20, 19, 19);
    font-family: openSans-bold;
    text-decoration: none;
    transition: 0.3s;
}
#user-name:hover {
    text-decoration: underline;
}
#user-username{
    font-size: small;
    color: rgb(145, 145, 145);
    font-family: openSans;
    text-decoration: none;
}
h1#title {
    text-align: center;
}
#thread-holder {
    background-color:white;
    text-align: center;
    display: inline-flex;
    flex-direction:column;
    align-content: center;
    flex-wrap: wrap;
    min-width: auto;
}
.tweet {
    border-bottom: 1px solid rgb(207, 207, 207);
    max-width: 500px;
    text-align: left;
    padding: 10px;
    padding-bottom: 20px;
}
.tweet-time {
    color: gray;
    font-family: openSans-semibold;
    font-size: small;
}
.tweet:not(:first-child) label{
    opacity: 0;
    transition: 0.3s;
}
.tweet:not(:first-child):hover label{
    opacity: 1;
}
.tweet:not(:first-child):active label{
    opacity: 1;
}
.tweet-text {
    color: rgb(14, 12, 12);
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}
.tweet-text-link {
    color: rgb(74, 39, 170);
}
.tweet-media-container {
    width: 100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tweet-media-container-pair {
    padding: 3px;
    max-height: 200px;
    display:inline-flex;
    justify-content: space-evenly;
}
.tweet-media-box{
    padding: 0px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 8px;
    position: relative;
    min-width: 50%;
    max-width: 350px;
    margin: 2px;
}
.tweet-media {
    padding: 0px;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 0.5px solid rgb(207, 207, 207);
    overflow: hidden;
}
.media-play-overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    z-index: 2;
    cursor: pointer;
    border-radius: 8px;
  }
.media-play-overlay img{
    max-height: 40%;  
    max-width: 40%; 
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    opacity: 0.5;
    transition: 0.3s;
}
.media-play-overlay:hover img {
    opacity: 0.8;
}
#thread-404 {
    min-height: 100%;
    background-color: white;
    display: block;
    width: 70%;
    font-family: openSans-bold;
}
#thread-404 h1 {
    font-size: 300%;
}
@media only screen and (max-width:700px) {
    .header {
        width: 100%;
        border-radius: 0px 0px 0 0;
    }
    .footer {
        width: 100%;
        border-radius: 0px 0px 0 0;
    }
    div#thread {
        width: 100%;
    }
    body {
        margin: 0;
        width: 100%;
        display: block;
    }
    #thread-body {
        width: 100%;
    }
}
@media only screen and (max-width:500px) {
    .tweet {
        font-size: small;
    }
    .tweet-time {
        font-size: smaller;
    }
    div#user{
        min-width: 50px;
    }
}
@media only screen and (max-width:300px){
    div#user {
        min-width: 50px;
    }
}